mkdocs
mkdocs-material
mkdocs-awesome-pages-plugin
mkdocs-print-site-plugin
mkdocs-material-extensions
mkdocs-git-revision-date-plugin
mkdocs-encryptcontent-plugin
mkdocs_quiz
mkdocs-open-in-new-tab
mkdocs-thumbnails
neoteroi-mkdocs
mkdocs-git-revision-date-localized-plugin
mkdocs-git-authors-plugin
mdx_truly_sane_lists
mkdocs-minify-plugin